@page "/"
@using ClassLibraryTransformImageToAsciiArt;
@using Microsoft.AspNetCore.Components.Forms

@inject IConvertImageToAsciiArt ConvertImageToAsciiArt
@inject IJSRuntime jsRuntime

<div class="container">
    <div class="center-container">
        <h1>TRANSFORM IMAGES TO ASCII ART</h1>
    </div>
    <div class="center-container">
        <div class="input_container">
            <InputFile OnChange="@OnInputFileChange" />
        </div>
    </div>
    <div class="center-container">
        <p class="ascii-art">
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$````^^````^^^^```````^^^"""``$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$````^^`$$`^":;llllllllI;:::,^^^``^^`^^^$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$"^`^^^"":Ili+_?]}{(())))(()))111{]]?_iI:"^^^````^$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$^`^^,:!~+_-]}{1(|||\/tt////tt//////\|\\|1}]-_~~!;:,""^`$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$`^^^":;l~-{(|\/tttttt///\|\\\\\\\\\\\\\/\ttt//t/\((1[-_iil:^^^^$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$^"""",I~?[{|tft//t////\\\\\|/t//t/\///\\\/t\|\\\\////tjjft\\)?!;,""^^$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$"""",I_}(////t\//\\\\\\\\/\///t\||/\////\\\\/\\\\/\\\\|\\\/tttt//(?!:"`^"$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$"^^,:!-1)|\///\///////\\\\\\//\\/t//tf////tttt//\\\//////\/\\\/t/\///|){]!:"^^^$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$^",:I_?{(t///\\/\\/\\///\///\\//\\/\)}}}]]]?[}1(//\\//////////\\\//\\/////|1]_!;:,"$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$"^";i-](/t/\\\\\\///\\\\//////\\t///|}+l;;::::;I!?)t\\////////////\/////\\\/ttt|{?+!;,"$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$^",;!-)/t/\//|\\/////\\////\\/////t\/\[;"^``````^"`;]//\\/t//\\\////t//////\\//\\/tt/1_;",,$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$`^":~}|//\\\\/////////t/\\\\/\\tt/\//\/\{,,,"^^"""^"^:-t/\//////\\\////\\//////\\/\\\///\1+I"",$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$"",I_})|\//\\\///////////\\\\////tt/\//\//(!,^^^""^^^^^l[////////////\\\////////tt/////\////|)-l:^^$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$",I_[(\//\\\\//////\\//\\//\/////////\/////\{~l;:"":l~+_])\\//////\///\\//////////ttt///\/////t([+;""$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$,":i](/t///\/\\\/\\//\\\//\///////\//\\////\\\t){]~^^!}(\|\/\\//////\\////////////\\/t////\/\\\|tt/)]!;,"$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$"",:+)ft\\//\///\\/\\//\///////\///\\//\///\\\\\/tft{""+(ft/\\\//\\/tt\\/\/tt/\\//\//\\\/\\\//\\\\/ffft1+;,:"$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$"^"I[\t\\//\\\\//\\/\\\//////\/\\\///\\/\//\|\//t\|\\}"^i)t\//\t///\\//\\\|\//\\\//\///\\\/\\t///\\//\\//\{+,",$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$,"^:+1|\\\\\\\\///\\\/\\//////\\//\/////\/\//\//|)|\\//{"^~)/t///t\\//\//\\/\\\\\/////////\\/\\/////\\\\\////(-;"",$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$,""I-)/\\\\\\\\//t/\\\/\\/////\\\//\\\//\///\\/\{_~?|\/\1,^~(\/\\([?]{(///\//\\//\///////////\\\//////\/////\//([i;,"$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$",:!]|/\\/\\/\\\\///\\\//////\\\\\\\\\\\\\/t/\\t)~,"I)\/\1:"+(/\/|[;;I~}//\\\///////////////////\//////\//\//\\\tt1_l,"$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$^^":!1//\/t\\///\\\\/\\/\\/\\/\\\\\\\\\\\////////t};",:1\/\1,"~(f\t(+`,":-t///\/////t\/tt/\\\\/tt/////\\///\\\\\\\/tf/}l,,,$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$^"";~)/\||///\\\\\\|\\\\///\\\\//\\\\\\\//\\\\\\\/t]:":,}\/\1,^~(f\t1!`,,:_////\\///ttt/tt/////t////////\\/\\\\\\\/t/\//|_:,,$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$""";-(/\\\\\\///\\\\\\//\///\\\\\\\\///\\/\\\//\\\\/[;^"^_(/\1,^i)f//[;^,^;?t////\\\/tft////////tt//\\//////\\\//\\/t\\/tt|?l,"$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$,""l-)t\\\\\\\\/t/\///\///\\\\\\\\\///////\\\\/\\\\\/1l""^I]|/},^i1tf\_"^,^l{t////\\\/tf//\\\////tt/////\////\\///\\//\|\///|}~:,$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$;,,:l[(//|\\\\\/\\//\///////\\\\\\\\\/////\\\\\/\\\\///\_:""^l}|]"^i1//}!^^,,+(t/\//\\\\/t//\\\/////t/////\/////////\\\\/\\\\\t/1_I,"$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$",",!1t/\\\|\\\|\\\\/\\///////\///\\\\//\\\\\\////\///\|f{l^"^`![-^`!})]!,^",;?\/\\\/\/\\//\//\\//\\/t/\\\\\//////////\\//\//\/\\/\-I""$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$,:",~(t\\////ttt/\\\\\\\\\///\\/////\\////////\\\\\\//\\\/(+"^,^^",^^;!;"""":^!{/|\///\/\\\\\///\//\\///\\\\////\\\////\\\/\\//t//\\f}!,"$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$;"""+1/\\////}--{\/\\\\\\\\/\\\\\///\\\///\\///\\///\\\\//\/{!`,,^`^`^^""^^^^,I{\\|////\/\\\\\\\\\/\\\\\//\\///\\\\//////\\\\\///\//\t\}~,^$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$I,,"i1//\///|[!:;i[\/\\\//\\\\\\\////\\\\\\\\\//\\//\\\\\\\\/|]:""^`^^^^^^^",;![\/\\//\\\/\\/\/\\\\\\\\\\\///////\\/////\//\////t/tt/|\/\}!^"$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$;,,:l{\////\(]I"^^,l(/\\\////\\///////\\\\\\/\///////\\/\\\|\//(_"^^^""^^^^^,i]{t/\//\\\\//\//\//\\/\\////////\///\//////\\//\t/|()|\\\\\/\}!,"$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$`,,,!(/\\\\t\?,`"",,:1\//\\\//\/t/\\////\///////////////\\//|////|;"^^^^^^^"^,]ff/\\//\\\/t/\//\/////|\/ttt////\\/t//\\////\\\\f|]i!~[|t\\\/t)!,,$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$:,""~(t\\||//?;^,""":-\///\\\/\|\//\\\\\\////tt/\\/t/\//\\////\///|l"```^`^""`^!}t/\\\\\////\///\/\\//\\///\/////////\\\\\/t/\\/t];^^^,+|//t/|/}!:,$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$I"""~1/|\\/\|?I"^"^^:+|///\\\///\\\\\///\\//\//\\\\////////////\/t|-:^I~l"^;_[i,:~1t\\\\\////\////////t/\/t/\/////\\//\\\\///\||t(+,"""":_(//\\\|[!"^$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$"""i{\/|\\/\?;"^^"^,i1t\\///\///\\\\////////\/\\\\/////////////\/\};";?(],^i1/1~:;-//\////\//\/\///////t\/t/\//t//\///\/\\//\\\|t1!":"""":~1\/\\\|}l"$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$,"";{\/\\\\|}:^^"""^i{//\\\//\//////////////////\\\//\\/////////\t)+^:-|f):^~(tf}l"!)\////////\\\//\///\/\/tt\///////t///\\//\\\|/)i^"^^^""^i1//\/t\[;,$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$,,,;_//\/\\t{l`""""`,{ft|/\///\///t////\//////////////\\\\\\\\\//\t}I^~|f\{:^~(//\-",?\/\//\///\\///\/t/\\/tt/\///////////\\\\\\\\\\-,`^^",:"^+(f\/\//?I,$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$,,";-////\|\)~^""^^^":]\//\\\\\\///t///\\\///\//\\\///\////\\|\//|//?::(//|1:^i)f\/[;^I1/////////\//\\\\\\\tt/t////\///////\\\\\\\||f(+`,,""^,":_/|/\\//-;^$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$;"":~1t\\\\\/]I^""^``""I?|/\\\\\\\\\///\\\\///\///\\//\\///\\\\///\/|+"I(\/\),^~(/|t{l^,}/t///////\//////\\/tt/t/////////\/\\/\//\\|\/}!^,"""^""^l{t\\\\/(+,"$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$","~{\/\\\\\t_,^,",II^""l?|/\\\|\\\\////\\\///\///////\///\\\\//////)i^l|\//):^+(\|t{l^"]\t\//\\//\/t//t/\\//////////////\\\\////\\/f1~:"""""^""^;]f\\\\\t}l"$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$,,,l{/t/\\\\\f]I",;~[[:^",I[//\\|\\////////\\//\\////////\\\\/\/\\\//)i^l|///1:"+|\|t{l^"?|/\/\\\///tt//t/\\////////\/////\/\\\\/\\/t\+;,";iI"^",^:?t/\\\\/(?;:$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$I":,{\/\\\\\/\t|?I:?(t\_,"",;{//\\//////\///\\/\\\\//////\\\tt/\\//\\t)~"I|/t/1:"+(/\f{I^,[\/\///\\//tf/////\/tttt///\/ttt///\\\\\\/t|~,"""-\[;^",^:-/\\\\/\/(_:"$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$l"";?t/\\\\\\/\\t/(1t/\//+:":^l[|\\\\\/////\\\/\\/\\/\///\\\ttt/\\///\t|-:,[/t\1,^+|/t/?,"I1\\//////\\///////\/tttt////\\//\////\\\/t(+",",~\f\]l,":~1/\\\//\/\1i,^$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$:":+//\\////\\\\/tt///\\t|_:"""![\\\////\\/\////\/\///\\\\\////\\\/\\t/t}I^l{//1"^+(/f)~",+|/\///\///\\\/////\////////\\\\\\\\//\\\t(-:,^,~(//t/)]-[(\\\\\/\\\\\{l"$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$:",!{f\\\//\\\//\////\//\/t)+,",,i{//\\/\\\\////\\\\///\\\\/////\\//\\t\t(~`,i}\),^+|t(-;^;{\/\\//\\//\\\/////\\\\\///\\////\\\\/\\t(-I"":~1t//ttt|(\////\\\|\\\//?;"$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$"^I?\/\\///\\/t/\//\\///\\\/)+::":~)t\\\\\\\///\\\\//////\//////\\//\\/\/\]"""i}}:^i{)_;",~\/\\\//\\\\\\/////\\/\\\\/\\\tt///\\\\\//]I"""~1////////t/\\//\\|\\\\\t)+:$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$,^^_|t\//\\\////|\///\//\\\\/f\_::,:l(/\\\\\//\//\\/t////\\\//////\////\/\/)!,",;!"`,I;"^"l1t/\\\//\\\\\///\\//\///\\///\//////t/\\/[I:,,!(t/\/\/ttt/\\///\\\\\\\\|/}i"$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$!"";{/\/\/\\|\///\\\///\\//\t//t/+:"""~)tt////////////////\\\////////\/////t\{;"""^^^^^^^"~)t///\\/\\\/////\\\/\\\\//////\\\\\\\\\//1I,":~(t/\\/\\//j/\\\\/\\/\||\/|\\],,$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$:":?|/\/\/\\/////\\//////////////\?I",,i}|////\//////////\\\///////\\\\/t/ttt/[!,"^^^":l~](///\\\\\\\\///\//\//\\\\///\\\\\//\\\\t\[l"^;-)////tt/\\/ff/\/\\\/\||\\\///)~"$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$l",i(///\////////\///\\//////////\t|]l"^,![\///\///////\\\\///\\///\\\/\\t/////\1?!",":+11|//\///\\//////\\\////\\\\\//\\\\\//\\\t|[!"";-)/t\\tf/\\\///t/\\\\\\||\\\/\/\};,$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$:,I}////\\\///\//\///\\/////\/tt/\\t|]I"^,![|///\\////\\\\\\//\\\\\\/\/\\///\\\tjt[,,"I]jt//\\/////t////\\\\/\\\//\\\\/\\\\\//\//\?l,";?(//t\\tt/\\//\\//\\\\\/\\\\|\/\/\+:$$$$$$$$$$$$$$
        $$$$$$$$$$$$$;,;+t//\\\\\\\/\\////t/\/////\////t/\t/};,",;}\/\/\////\\\\/\\///\\///\\\\\tt\\/\tt{,^`:-tt/tt/\\\//t//\\/\\\/\\\//\\\\//\\//t//t\_:",,_|t/\t/\\////tt/t//\\\\//\\\\|\t/\/1;"$$$$$$$$$$$$$
        $$$$$$$$$$$$!,"!{t/\\\\\\\\/\//\\//\\\//////\\\//\|\f1!"^:;}/t/\\\//////\\\/t/t/////\///////t){]i"^^,l-?]{(|/t/\/\/////\\\///\\\\////////t\\/|-,,";]//\/////\\//ttt\///\/\\\\\\\\\////\\~,^$$$$$$$$$$$$
        $$$$$$$$$$$$,,;-\\\\\\//\\\\\///\///\///\\//\\/tt/////{~,""l[\t\\\///////////\tt//\/\\///\/(-lI;,"""^",,:;l+|////|\/////\\\\\\\///\\//\\\\/\)?I:"I]\\/\\///\\//////\\\\//\\\\\\\\/t//\\t}l"$$$$$$$$$$$$
        $$$$$$$$$$$~^"i1t|\///\/\\\\\///////////\\/\\///\\\/\t/{~,",![/\/\\\////\////\t////////\\\/1I^""^^^"^``^^`"!|////\\//////\/\\\///\\\\\\\\\/)-I,:I?|t\//\///\\//\\//\\\\//\\//\///tt/////|_:"$$$$$$$$$$$
        $$$$$$$$$$$;",?\t\////\//////////tt/////\\/////\\\\\\/t\{i:,:!{\/\\\\\//\\\///t/\\/////\\/\{!;;;:"^"",IlI;!]\\\//\/////////////\\\\\/\/\//|?I^"l]|t\///////\\//\///\\\\///////t//tt////\/}!,$$$$$$$$$$$
        $$$$$$$$$$+",!)t\///////////\\\\////\\//\\/////\\//\\\/t/)i;::;1\/\//\\/////////\\\///\///\|1]--+I^^I-1{[}(tt\\\////\\\\\\////\\\\\\t//\\\?l,":[\/\\\\//////\//////\///\//////t///\\\\/|f|-,:$$$$$$$$$$
        $$$$$$$$$$I^,[\/\\///////\\/\\\\///\\////\|/t//\\////\\\//(~:"^l}\/|\\\//\///\\\\\\\/\\\//\\tt/t/?"^i)f//\\\\////\//\\\\\\////\/////tt/f/[;,"I[/\\/tt//\\\\//////\/\//\\\/\\\\\\\//\\\\|/t1!,$$$$$$$$$$
        $$$$$$$$$$:,l(//\\\\\\\\\\/t///////\//tt//\/t////////\//\\\1+:":i}/\\/\\\\///\\/\\\\//\\//\\\//t/[,^!1f\//\/\////\\////////\\\\\\\\//\t/}I""![|/\\\//\\//\///////\\//\\\\\\\//////t\\\\\\/(_,$$$$$$$$$$
        $$$$$$$$$!";-\t/\/\\\\\\////////\//\\////\\//\\//////\///\\/1+;,;i](\/\\\\//\\///\\\\///\\\\\\\/\[:^l}f\\\\\\\\//\\//////\/\\//\\\\\\/\}i""l[\/\\\\/t/\//////\\///\/\\\//\\\/t////////\|\/\{;:$$$$$$$$$
        $$$$$$$$$:,I1///\//\////////\\/\\\/\\///\\\/\\\//////////\|//)+:,,I]|\\\\\\\\\\///\\\///\\////\/|?,"l}f/\\\|\\////\\//\//\\\/////\|\\/[!,"l]|t\/\\\/t////////\|///\//\\///\\//////////\\///\+:$$$$$$$$$
        $$$$$$$$I,,!///\\\/////t///\\///\///\///\\\//////\\\////\\|\/\(i:""I{\\|/////\\\//////\\///\\/\/(~^^l[f|\/\\\/tttt////\\/\\\\\\///\/t}l"":{/t\\/\\//\t/\//\\//\\\\\\\/////\\\//\\/\////\\\/t1;"$$$$$$$$
        $$$$$$$$,"I-f\\\//\/\\\\\///tt//\///\\/////\///\\\\\///\\\|\\\/)i,,:!1//|\\/\/\//\\|\\\\tt/\|{]?~""",I~+]{(\tfft/\/\\/t///\\\\\\\|//1I"^I[//\\t/\\//\t/\/\////\\\/\\\\\\/\\\\\/\\/\////\\\\\|l"$$$$$$$$
        $$$$$$$$""i1t\///\\//\\\\\//t//\\\/\\\///\\\\\/\\\\\\//\\\\/\\/t1+:""![|\\\\/\|//\\\\/t/(}?~!I;:,^""^^"",;l!+])/ff/\\///\\|\\/\\|/\}l:,I?\/\\\\\\\//\t/\////\\/////\\\\\/\\\////\//t///\/\\\t-;$$$$$$$$
        $$$$$$$:":?//////\\//\\/\\\//\\\\\\\/////\\\\\/\\\\\\//\\\\/\\/t/1+:",!]|/\\\\\\//\t/({?~l:,^"^``^^^^"""^`^",Ii?{|\tt/\\\\\//\\\//{i",I-(t/\\\\//\\\\tt////\\\\////\|\\\//\\////\////////\\\t1!^$$$$$$$
        $$$$$$$^"!}f\\///\\//\//\\\\\\\///\\////////\/\\\\//\//\\\\/\\/\//)~;,,l[|\\\\\|\/\\1-l"^^^",;Ill;^^:!+i!I;;,^^,I_})\/|\\\///\\\/1~,";-(t\/\\//t//\\\/t//\\\/\\\///\\\\\//\\\//\\\/\\\////\\/\+"$$$$$$$
        $$$$$$l^"+)t|\\\\\\//\//////\\\///\\///////////\\///////\\\\\\\\\//|+;"^:[\/\\/\\/\]I^`^",I!~?}((?:"l[/|(){-!;,^^":l?|///\\tt\\t1!,^"-\f/|\\/ttft//\\\\\\\\///\\\//////\\\\\\\\\\\//\\/////||/?:"$$$$$$
        $$$$$$;^;]\/\////\\//\//////\\\///\\\\\\\\\\///\\\///////\//\\\\////\-I,"I[\/|\t/{i,^^":+}(\\/\//},`!1j////t/(}_l,"^"I?)/t\|\tf)!""l]/t/\/\/\\/////////\/////\\\\\\///\\\\\/\\\\/\////\/\\\\|/{i^$$$$$$
        $$$$$$,^!1t//t///\\\\\/\\\\\\\//////\\\////////\\\//\/\////\//\\/\\\/(_:""I?|//)-I"^;~?{|\////\//},`!1t\\/////\\|{_;^^:i](//t\{!,^l]\/////////ttt///////t//////\\\///\\/\\\//\\\/\\\//\/\\\//t(_"$$$$$$
        $$$$$$""_|t\///\\\\\\\//\\//////////\\////////\\\///\/\////////\/\\\\/)+:^^l])]i;""l])\t/////\\\\[:^i1t|\\\\\\/ttt|[i:^"I+}\\}i""![|//////\///tttt/\\//tt///////\\////\///\\\\\///\\///\//\//t|-"$$$$$$
        $$$$$I^;}\/\/\\\\\/\\\/////t///////\///////\\\\\\/////////////\\\\\\\//)_:^"I~;^^;+}|ttt\////\\/|[:^i1t\\////\\\\/f/1?l"^"![]!""l{\////\\/\\\//////\\///////////\/t/t///\//\\\////\///t\/t//t/\]:^$$$$$
        $$$$$,"!\t//\\//////\\///\\/\\/t//\\///\\\\\///\\\\\////////////\\\\t\\//+,^"`^^;?\/\|\\\///\\\/\};^l{f//////////|\/tt1!,"^,,^"I1/\\//\\\\/////\//\\\/////////\\//t/tt/\\//\\///\\\\\//t///tt/t)!,$$$$$
        $$$$$^,~\/\//////\//\\//\\//\\\/////////\\/////\////\\\\\\\\////\|\\//\\/)!"^""I]//\\\\/////\\\\/);`l{t\\\\\/////\\\\\t)+,""^"i(f\\//\/\\\\//\\////\///\\\\\\\\\\//////\\/\\///////////\\\\///t(~,$$$$$
        $$$$;^:-\///\\\\\\\/\\/\/////\\\//\\\////\////\\\///////\\\\\\\//\\\/\//\];""^^I[/\\\////\\/\/\\\(I^l}t\\/\//\\\\\\/\|/\[I^,^,_//\\///\\\/\/\\\\/////////////////////\////\\/\///////\\\\|\///t|]""$$$$
        $$$$:^;}\/\\////\\///\/\///\///\//\\\/////\\//\\\\//////\\\///////\//\//{l"^"`":~{\\\\\\\//t\/\\\(I^l{t\\\\///\\/\\\/\/)_:""^,~|t/\\//\///\\\\\\\///////\\/////////\/\\///\\\\/\\\\\/\\\\\\\\//\{,"$$$$
        $$$$""l(\/\\/tt//\////////\\/t/\/\\\\//////\///\\\//////\\////////\//\/(~"^:I;,^,~1|\\\\\/tt//\\\);^!1t\\\\\//\\//\\//|_:","^^;]/t/\\\\////\\\\\\///////\\/////\///\/\\////\\\\\\\\\\/\\\\/\\//\);"$$$$
        $$$$^,+/\\/////\\\\///////\\///\/\\\\\/////////\\\//\\///\\\//////\/\t\[,",i}};"^"!{\\\\\///\/\/\{:^i)t\\\\\/\\\//\\/|+,^",!:""I1/t/\/\\\\/////\//tt//tt/\\////\\\\\///////\\\////\\/t/|\//\\///|~,$$$$
        $$$$^:-f///////\\\\\\\\///////\\\/\\\\\/////\///\\\\\\\///\\\//\t/|\|t)~,"!}//}l"^^I1//\/\//\\\\\}"^~)t\\\\\\\\\\|\t\_""^,+|?;^"l(t\|\\\\\//////////////\//tft\\/\\/////\//\\////////t/\|\//\\\t/?,$$$$
        $$$,^;]j///\//ttt/////\//////\\/\\\\\\\\\///////\\\/\\\////\///////\//]:"l}\\/\{~,^,+1//\///\\\\|}"^~(t\\\\\\///\\t|-;:";-\t|-:^"-|t\\\////\\/////////\///////////\////\\///////\\\\////\\//\\\//[;"$$$
        $$$,^I}f/\/\//ttt//\//\/////\\////\\\\\\/////////\//\\\///\\///////\f)~^:]|/\\//{~,":~{\\\\\\/\\\},^+|t|\\\\\/\\/t|-;",;-(f/t)+"^l}//\\//\\\\///\\////\//\//\////\\///////\\\//\\\\\////\//\\/\//{I"$$$
        $$$"^!1t\\\/\////\\\\//////\\/////\///////\//////\//\\\///\///\\//\\f[;"~(\\\\\/\1i,":i}\/\\//\/\},^+(/|\\\/\\\\/\]I^":-(t\\\/1!""+(t\\//\////\\\\\///////\///|\/\\/\\///\\\\\\\\\/////\\\\\\////)!"$$$
        $$$^^~(//\\\\\/\\\\\///\\//\\//\//\\////////////\\\\\\\///////\//\\/|+,:}/\\//\\//(l,",l(/t//\|/\["^~(/\\\\/\\||\?I,",?\t\\\\t/{;^I[/\\////t///\\////////t\//([(/t/\\\\/t\\\/\\\\\///\/\\\\\///tt|i"$$$
        $$$^"~(////\\///////t////\\\\//\\\\\\\//\\\//tt//\\\\\\\\\///\\\\\\/]I"l)|\//\\/\\/1l"""+(t/\/|\|[^^~(/|\/\//\\|[:"";]t/\\//////?,"~(/\//\\/////////\\///\/\[I,!](f\\\/tf/\/\t/\\//\\|\\/\\//\\\//~,$$$
        $$,^,+|/////\\\\\/\\\\/t/\\\\\//tttff/ftt/\/////\///\\\\\\\\\\\\\//\~,I]////\\\////\}!"`,~1//\\/\["^~(/|\\\//t|?;,"I]\tt////\\//1I^;]t\\///////////\/\\\/|/(_",,:i[|//\\\///\///////\\\t/////\\\/f-:"$$
        $$,^:-/////\\\\\\/\\\/\\\\\|\/\()11{}]1(\/\//\\/\//\\///\\\\\\\\\//)I"~(t//\\\\\//\/\}i^",+)/\\/\["^~)/\\\\//|?I^"I?(t\/t///\///\_:"!\//\\//\/////\\/\\\/|t1i^,,",I_{|/\\\\\\//\\/\\\\/t\\/\\\\\\f[I"$$
        $$"":-//\\\\\\\////\//\||\\|/\1?~i!lI:!+[(\/\\\/\\/\\\\///\\\\\/\/|?,;]/\\\\\///\\\\//{!:^;-\t\//[^^~)/\/\\/|?I^"I]|/\\\//\\\///t{!^,{//\\\\\\\\\\\//\\//\t{i"";!l"^i[(|/\\\\\\\\\\\\//\|\\\\\\\\f{!,$$
        $$"":-/\\//\|\/////t//t/\\\/j1i,^^``^^^^;+)t/\\/\\\\\\\\//\\\\\///)!`l{t///\\///\\\/\//{;,"I}j//\[^^~)/\\\//?I"^:[\t/|/\//|\\\\\t(~",_|/\\/\\\\//////\///\t{i"^!{1l^^;+{|\/\\\||\//\//\\||\/\\/\\t)~,$$
        $$`^;]t\//\\/\\/\\\\//\//\\t{!,"^,,::^^^^,i1/t/|//\\//\\\/\\//\//\}:`~1/\//\///\\\\/\|\f]:":;{/t(_^`~(/|\t|+:"^;?///\||\\//\\//\t/-,^i|t\\////ttft\\\\\/\\/{i^^l1t)-;^^;+)////\\\//\\\\\\\\\\\//\/(~"$$
        $$^`I[t\\\\//]}|f\\\\/\\\/\{i:,:~?}1{[_l:":i}\/\\//\///\\\////\\/(-,"_)/\//\\\\\\\\/\\\\/]I",I[\|~^"~1///{+:",i}|\\\\/\////\\\\\//{!^;1/////\)?_[(//\\\///t1i^"!1t\|{_I,,~]1\/\\\\/////\///t/\\\\/|+"$$
        $$``I}t\\\\/{!!]\/\\\//\/\1!::l-)|\//\({_;^,~{\/\/t/\//\\\///\/\/1i^,?(/\//\\\\\\\\\\\\\t|]l,^l}(+`^~)t)[~:^:+{\/\\\\/\////\\\\\\t(+^,[\///t(?;;I[\/\\\\\/t{!^"i1t\t\(}_I:I~]1|//\\\///t|{}1\\\\\/\+"$$
        $$`^l}t/\\\(~,^I]\/\\//|/(_^"l]|ft\\\/tt(_:":+)/\/tt\\\\\\\//\\\/[I^;[\/|//\\\\\\/\\\\/\/t|[l,"i]i``i(\_;,,;_)//\\/\\\\////\\\\\|/|-"^-(/\/t1i`:^~(/\/\|/\/}l^"~)t\/\//\[l,,;~[)\\\\\\\/]!I~{|\\\/\_"$$
        $$^"l}t/\\\}"^^"I{/\\/\\\[:`:?|t|\\\\\\/t\-;";_\/t/\\\\\\\\///\\|-,^!)/\\///\\\\//\\\//\/\/\}!,",,``i{?^^"I?\/////\\//tt/\\/\\\\\/|?"`_)/\\\}!^;^l}/\\\\t|/[I^"~1/|\\|\tt1-l"`,i[\//\\\{I^`^~(\\\//-,$$
        $$``!{/|//(-^`"":?\/\\tt1i""~)/\//\\\\t\\t\~,^I}//\///\\\\\/tt|\)+""i1\\\////\////\||\/\\\\\/)l^`""`:l,``!{t/\\\\///\\t/||\|\\\\(\|?"`_)\|\/}I`"^I[/\\|||\\_,"^~)/(|\\\|\/|}+,`";+}/t/|i"^"^;1/\|/t-,$$
        $$``~)t|/t1i`^"^"i(/\|\t[l",?|\|\/\\\\||\//[;^:_|\/t//\\/\\\\/\/)~^"+(\|//ttt/////t\//\//\\\//[I`^,^^"^"+1\/\\\//t///\//tttttttt/t\]"^+(t\\t{l`"`;]f\\\///\+""`i)jt///t/////\{+;",I_{|1:^^^^,{\\|\/-,$$
        $$``~)t\/t1!`""^^:[\/\/\_:^:1//\/////t///tt)l^"!)\\//t/tt////tt/{!`^~)\|/\\\\||||\/\\\\tt///t/\[l`"^^^^,[|\/\||\\\\\\|(|||()(||(((1_^^![((|\[I`"`:-\()(((({i^^`I?)11111))11)()]!"`^,!_+^^^^^"}|\|//-,$$
        $$`^~)t//t1!`"^^^^i[))(}l^^:1|((\(|||\|(((|}l^^:?}}{111))))))(){_;`^l?}[}}}[]???[}}[[}{11111(1(1_``^^^^,_]]}}[]][[[[]]???-++___+++~;^^:!_?]]i,`^^"l?-_____~;^^`,I!!iiiii~i~~~~~l,^^^","`^^^`^}|\\//-,$$
        $$``~)///t1I`"^^,"^:lii;"`^,+-_+?______~!!!:^``^,,,:II;Il!!llI:,"^``",,",:,"^^^^,,,",::::;;Il!I!l"````^"^^^""^^""^^^^^^^`$$``$$$````^^```^^^````"^``^^`$`^`^"^^^```````$$$$$`$``^^"`""`^^^^^^{\\\\/_"$$
        $$``~)/|\t};$^^^`$$`````""^`^`^^``^^``^```^^```^^`````````````````^^^`$`$```$$$`````^^^^^^^````````^""`"^":;,,^`$`^`$```$$``````$``^^^^^``$$``^$`^^``"^^""^^^^```^^^`$`$$$``````^^"^``^^^"^`"{//|\/_"$$
        $$^`~)/|\/};^^^^^;lllI;:"^^`:i++---_______i"^^^^l!!~~~~iii!lIIl!:"^^";ll!_-+~+--????????]]?_++;""^`````^^!{({{}?_--_~ii~~~ii~+~~!i!:``,I!lI!!;^``^,I::,,,,:,^`^"I+-?_+++++__++_!,^^^^``^^""^:1///\/_"$$
        $$^`~)/(/t{;^""^:?}{}}[]i,^^!{|)||((((|(((?,"":~{111))11111{}}{1?I^"l?{{1((())||||\\||||\\|(((i""^^`":,,,~(j/\\\(||()11)))11)))){1}~`^!]1{{1{_^""^;]}]]]?-[+:``;?((\())()((((|1+;^^^",:^`^"^:)/////_,$$
        $$``~(/|/t1l^,^"i|///t/f{!^"!)ttt////tt//|_:^"!)/tt///////////tf(+",+(t/t/////////t//////\/tt)l"^`^^l-~;:l?\/\\t///////////ttt//\t|-^^~)tttf/[^,"^l|fttt/\f1!``!1f/tt//\//tt\(]!,",:!_-,`^"^;(/\///-,$$
        $$^`~)/|\/)+^"^I[t\|\/\t\-"^,_1/\\\\|/\\|[:"`:-/\||||||\\\\\\\\/(_""i)\|\\\\\\||\\\|\|\/t|\t(I^^"^"`+\(l,";]//\\\\|||\\\\\\|\\\|)\)_"`~1\(|\(-`"^^i|\\\\\|/1i^^l{t\|||||/\|)]l^`^,!?|j/l""""+\/|\tt?,$$
        $$"^i1t|\//1!;!]\/\////\/1~"";_(/ff/\tft}l"^"i1f\\\\/\\\\\\/\\|/|-,"!1/\\////\\///\\\\//\\\{!^`:~_"`!)t{l,:I?|/\////\\////\\\\\/|/{!`^_(/\\\(-^"":-f\\\\||/[l^"!{t\\\|\//)]!"`^:i[////\-I"^;{//\//t];$$
        $$,^!{t|///\())|//\\\\/\\\{:^,Ii](\/\\)?!,,"i}\///\\/\\\//\\\\|//[;^;[\/\//\\\\\///||\/\//}!"^I?){,^i)//{!",;]|t\|\//\\\//\\/t//\/}I`^?|/\\/|?",^;]f\\/\\|/[I^^I{/|(\/\)-iI,`:+}(\t/\\\(-!i]/\\\\/t?,$$
        $$,^l}t|//\/tt////\////\\/|-:"":I~---+i;"^"l}\/\//\\\\\\//\\\\\\/{!^"_(t|\\\\\\\///\\\\/\}i"^I]|\{"^~(/t\[!""l]|/\/////\\\\\/t/\\/?:^,}//\\\|]:"^l}t\/\\\|/[I^^;[\|\|)]~;,,;i])\///\\\\/({{|t\\\///_"$$
        $$:^I}t\/\\\/\\\/\//t///\\/|-I,"^^,,"^^^^,I[\/\\\\\\//\\\/\\///\/)+"^!{t\\\//\\///\/\\\\{!,"I?\f\[^^+|t//|}l,"I?\\/////\\\\|//\|\|_"";(t/\\\\{l^^+)/|/\\\(/}I^^;]\||}+;"":!-1//\\/\\\///tt//\\\//\|+"$$
        $$I"I[t\\\\/t||\/\\\/\\\\\/t/[!,^^"",,,",i)//\|//\/t//\\\\\////|t|]:";?//\\//\\//\\\\/\1!""!}ttt\{""_\/\\/\{I"^:?|\\\\\\\\\\//\\/1i^,!|t\\\\t|-:I}/\\//\/|/}l""I[\1~;"^"l-1\tt\//t/\\/t/\\/\|\////|+"$$
        $$l";?/\\//tt//\/\\\\///\\\\\t|]ii;::;l+}|\\///\////\//\\//////|\\}:""+|t///////\\\\//1l,"I]\/\\\1,,-\/|//tt}l"":]|/\\\\\\\\|\\/f}!,,_\/\/\|/t\))|/\\\//\\/}l^^:i~;"^^;_1\/\\\\\\/\\\\//\/////////|~"$$
        $$!,,_|/\\///////\/////\\\/\//\|))1}}}1(\t/////\\//\\/\///////\/\t|~,^!{////\\/\\\\t|[!",l]|\\\\\{""-\/|\\/\/}!^^I_)/\//\\\\//\\/_;",[\/\//\\//\\\\\\\///\t[I";;:,^"l_}\\\\\\\\\\\\/\\\/\///t\\\\/(i"$$
        $$~:,~)t/\\/////\\\////\\/\\\/\\///\\\\///t/////\///\\\////////t\//};^:_\//\\\t\\//|?l,"![|/\\\/\}^"_|\\\\/\/\[l",;_)\//\\//\\//|!",l(/\\//\\\//\\//\\\//\t}I";,",l+{(\t\\\\\\////\\\\\/\///t\\\\/(!"$$
        $$-;,!{f/\\/t///\\\\///\\\\\\//\\/\///\\\\/\\\\/////\\\///\/\\//\\/|i,"l1t\\\/t\\/\?;",;}\/\\\\/\[""_|\\////\/\}l:";-(//\///|\//{;^;]t/\\\\\\//\\\/t///\//t}l^,,I+}|tt\||/\\\/////\\\\\\////t\\/\/(!"$$
        $$$;"I]j/\/t//t/\/\/////\\\/\\\\//////\\\\\\\\\/////\\\\\\\\\\/\\\/t]I";-//\\//\/\[:^^;-\/\\\\\/\}""-\t//\\t/\//1l,";_|\\/t/||/|_:"~|t///\//\\\\\\///\\\\//1~":~}\tt//\\\/\\//////\///\\t/\ttt//t/1l$$$
        $$$I^,+t////\\/\\\\\///\\\\\\\//\\\///\\\\\\/\\\//t//\\\\\///\\//\\/|i""I)\\\/\t|?:,,I-\\\\\/\\/\[^"-|\\//\\\||tf1!^`,!1//|||\\};^I}f\\\\\\\\\\\///\\\\\\|\t\}1|\\\\//\\\\/\\//\\\\//\\\//\\tt/\//?:$$$
        $$$I",!\\\\\\\\\\//////\\\\/////\\///\\\\\/\\///\\\/\\\\\/\\\\////\\/?;":~)\|\/|?;^";-(t\\\\\\\/\[",-\\\\\\\\\\\//{!^":~{//(\/)!^"_|t\\////\\\///\\\\\\\\/\//\////\\/\\\\/\\////\\\//\\\/\\\///\\f-,$$$
        $$$l,"I)\\\\/\\//////////////////////\\////\////\\\/\\////\\\\//////t)~,::[|\/|?I^"I-)//\\\\\\\\|]""-|/\\\//\/t/\/\[!,,:i}\\/)-"^I}t/////t///////\\\//\\/t\\\//\//////////\\/////////////\\\\//\\f+,$$$
        $$$i,";}//\///////t////t/////\////////\///////\\////\\////\\\\\///\/tt}l,"~1/\]I"";-(//\/\//\/\\|]""_|/|\///\/tt\//\{i;""l}/|-;^;?|t\//\///////////\\\\//t/\\\/\/////////////////\///\\//\\\\\//\/i,$$$
        $$$$;";?/////////////\/t////\\\\\\\\\\\/////////////\\\//\\\///\\\\\\t\],^:-([:"":_\/\\\\|\t\\\/|]""_|/|\//\\\\\/t/tt|-I"";}?I^"_|/\\/\\\\\\\\//////\\///ttttt/\\////\\\////\////\\/\\\\/\\\/\/t/)I$$$$
        $$$$I":~(\\\/////\\///\t///t/\///\///////\/\\\/t/\\//\\//\\///\\\\\\t//1I^":I;"^;-|\\\//\\\\\\\/|]^,-\t\\\\//\\\/t/\\t/?;^","^^l1//\/\////\\\/\\\///\///\//\//\\//\//\\\\///\\\///\/\////\\/t\\tt[:$$$$
        $$$$i,:l(\\\////\\\///\/////\\/////////\\\/\\\\\\\\//\\\/\/////\\////\\|];"^^"^:+)//\\///\\\\/\/|]^,?\\\\\\////\\//\\/t(+"`"^^I}/t//\\\/\\\\//\\\///////\\///\\////\////\///\\\\//\/\\//////t//t/+"$$$$
        $$$$_;":)/\|\\//\\\///\\/////\\//\//////\\\\/\\\\\\//\\//////\\/\\//\\\||_,^"""+1\\//\\\//\\\/\\|]^,?\/\\\\/\//\\\\//\/t[;`"""!)t///\\\\\\\//\\\\/////\\/\\//\\\\\\\\//////\\\\\\\//\\\\/////\//(I^$$$$
        $$$$[l^"}//|\////////\\\//t//\\\\\/////////\////\\\//\///////\\/\\\///\\t]:^,",]\/\\/\\\\\\\\/\\|]^,-\/\\\\/\\\/\\\//\/\];^"",I]\\//\/\\/\////\\\\////\\/\\\\\/\\\\\\\//////\//\\\///\\\///\\\/\}:"$$$$
        $$$$$i^^_|t\\//////\\\/\////\\\//\//\\//////\\\/\\\//\///////\\\\//\/\\/\!"^"""i[|/|\//\\\////\\|?^^+(/\/\\\////\\\\///]I^^"""";[\/\\/\\//////\\\\\//////\//\////////////tt//////////t/\/////\t\],$$$$$
        $$$$$i^^l1t\\/////\\\////t///\\//\///\/\\\\///\\\\//\\///\\\//\\t/\\\\t\-"^,:,`"I_)ft/\\|\////\/|]"^i)/\/\\\//\\\/tt/)+,^"i{i:,:I}/t\\\\//\\\//\\///////\////\\tt/\\//\\////\\////\////\\\\\/\t(+^$$$$$
        $$$$$_",:[\\\///////\/////////\//\//\\\\\\\\////\\\///////\///\\//\\//)_:^,~}];"";!-{|//\\\\//\/\]""~)t|///\\\///t\{-!,^:+)/1~:,:![|/\\\\\\\\\//////////\/\/////\\/////\///\\\\\\///\\\|\\//\\/{l^$$$$$
        $$$$$$;,,_(/|////t//\//////\////\\//\\////\\\///////\////\\\\\\\//\\t(-;^,+1\|[i:"":!-}|\/\\\\|\|]""~)/|//\|\\//\1?!:":i])//\1+:,"l]\/\\/\\\\\\//////\\\///////\\///\//\\\\\\\\\\///\\\\\\\/\\\[;$$$$$$
        $$$$$$~""i1t|////t//\\////\\\\///////\/////\\///////\\\\\\\\\\/\//\/\?I",i)/\\t1_I"^":!?1(\/\\|\|?^^~1/\//\\/|(1]~:^";_)//\|//)+;""l[|\//\///\\//////\\\///////\////\\\\\\\\\///\\///\\\\\\\\/(-,$$$$$$
        $$$$$$["`I[t\/////\\\\/////////\///////////\\\\\\\\\/////\\////\|\t/?;":i1\\||\t\{!"""^"l-{|\\\/(_``i)t///tt(}-l^"^,i[|/\||\///|+;,,:?|/||///\\\//////\\/\//\\/\//\\\\\\\\\\\///\\\//\\\\/\\\t1i^$$$$$$
        $$$$$${:^:-|//////\\//\\\//////\\//////////\\\\\\\\//\|\\////\\\\t/];",~|////\\\//|?l,``"":l_[{1}i"^i)t/|)[_I,"^^,!]|/\\\//\\///|_;,,:}\\\\\\\\\\\\////\/\//\\t/\\\\\//\/\\\\\\\\///\\/\\\\\|/[I^$$$$$$
        $$$$$$$I,,i1t\\\////////////////////////////\\\\\\\\\\\\//////\\t|?I",~1/////\|\\\\\)]~:^^^",IIlI,"^:i++!I:,^":I~])\/\\\\///\//\/(-;",![\t\\\\\\\\\\//\\\///\/t\\\/\\\\\//\\/\\\\////\\/\\\/\\?;$$$$$$$
        $$$$$$$_:"l]t/\\////////////\////////////////\\\/////\/////\\\\t|?I",i{//\\/\|\\\\\/\|1]+!:^^^"^^^^^^^"",:;l!+?})|\//\\\\/\/\//\tt)-I:,!]|t\\\\///\\\\\\\//////\\/t\\\\\t/////\\\/////\\/\\\/\-:$$$$$$$
        $$$$$$$$;";-f/\\///////t////////\////t////////\\////////////\\/\?I",i}\t/\\//\////\|\///|{-!I;;;:,^^^";I~-[}1(\ttt\\\/\\\///////tt/(?I""l]\/\\////////////////\\/tt\///\/\////\\\\\////\/\\|t)~$$$$$$$$
        $$$$$$$$!":+//\\\/t/////\\\////\\//\////\\\//\\\\\//\\\\\\///\/?I,:i)//\\/////t///\\/\\/tf/|1}]?_l"^:+(|//tttt/\\/t/\\t////\tt//fttt/_;:;I]\/|\/////////t/\///\\/tt\/t///\\//\\\\\\//////\\\t];$$$$$$$$
        $$$$$$$$-:^l}\/\\\\\\\/\\\/\\///////////\\\\\\\\////\//\\////(_:":~)/\\\\\///\\////\////\\\\/t//\["`!{t//\\\|\\\\//\\\/t///\//\\/fft/t-;,,,[\\\\\////tt\\////\\\/t/\///\/\\//\\\//\\\\///\\/t+,$$$$$$$$
        $$$$$$$$$i":+\t/\\\\\\/\\\\\\\\\///////\\\\\\\\\////\///\\\/(-;",~1/tt/\/\//\\\\\//\///\\////\|\/1:^l{t\\\////\\\////\///\\t//\\\//\|t(_:,,I-(t\\\\\//\\\//////\\//\//\\/\////\///\\\\\\\\\/(I$$$$$$$$$
        $$$$$$$$$-:,I)\\\\//\\//\\\\\/\\////////\\\\\\\\\\//////\\t)-l,,!}/////\/\//\\/\\//\\//\\//\\\|\\1:^l{t\\\////\\///////////////\\\\\|\/1+::"I?\/\\\\\\\\///////\\//\\//\\\////////\\\|\\\|\|-,$$$$$$$$$
        $$$$$$$$$$I""](\\\//\\//\\\\//\\\////////\\/\\/\\///\//\\t\_I,,I]|t|\/\\/\///\/\\//|\//\///\\\\//{"^!1t\\\\//\\\////\\/////\\//\\//\\\//)~;""I]\///\\\\\/////\/////\\\//\\////////\\\\\\|\\{;$$$$$$$$$$
        $$$$$$$$$$i"^+(t/\/\\\///////////////////\\/\///\///\//\/t?;,:,-|/\\\\\\\\\\\\/\///\\//\///\/\|\\{"^i1t\\\\\//\\\\\\\\\////\\//\\//\/t\\/(~:""I}\t/\/////\///\\\\\\\\\\\\\///\\///\\\\\\\/|-^$$$$$$$$$$
        $$$$$$$$$$],^I}\\\|\\///\\\\\\\//////\\\\\\\///\\\////\t/};,,I]|//\\|\/\//\\\\\\/t/\\//\\\//\\\\\{"`!{/\\\\//t//\\\\\\\\\\\//\\\//\\\\/||/(i:":I{\/\////\\\\///\\\\///\\\////\\\\\\\//\(//}I`$$$$$$$$$$
        $$$$$$$$$$$i^,_(/|\\/////////\///////\\\\\\////\\\//\/t|[l,"l]\\\\/\\\\\//\\/\\\///\\\\\\\\///\\\{,^i1/\//\\\///////\\\\////\\\////////\\\/1+;,"i{\\\\\\\\\\/t/\\//tt/\\\\\//////\\\\\\\/{~,$$$$$$$$$$$
        $$$$$$$$$$$]""!}/|//\\\\/////\////////\\\\////\\\\/\\/(?I,"l]|t/\//\\///\\\\//\\\/\\/\\/\\////\\\{,^~)t\//\\\//////\\\\\////\\///\\//////\\\1_:^:+1/\\\\\/\\\/\\\////\//\\\//////\\\\\\t\?;"$$$$$$$$$$$
        $$$$$$$$$$$$I";-|///\\\\\\///\\///////\\/////\\\\\\/t(?I""I]\t\\///\////\\\\\/\\\/////\/\\///\\\\{:^~(t|\\\///\\/\/\\\\\///\/////\\\/\\//\\//)~,":+)\\\\/\/\\/\\//\\\\\//\\///////\\\\/t)+:$$$$$$$$$$$$
        $$$$$$$$$$$$-;"l}f\\/\\\/\\\\\////////\///////\\|\\//_;,::]\t\\\\\\/\\////\\\/\\ttt///\\\//t////\1;"~(/|\\\//\\/\\//\\\\\//\/////\\/t///\/\\\/(~,^,i|/\|/\\\\/\t//\//\\//\\//\\\\\\\\\/\?iI$$$$$$$$$$$$
        $$$$$$$$$$$$$!::i\/\\\\\///////////\\\t////\\\\\\\/|i,,:l[\/\\/\\\//\\////////\\///\\\\\\/tfft\\\(I"~)t|\///\\\/\\///\\\\///\//\/\\////\\\\\\/\)~:,:~|t\\t/\\\/ttttt/\\/\\/\\\\\/\/\\\/)i:$$$$$$$$$$$$$
        $$$$$$$$$$$$$$l,;?\//////\\\///////\\\///\\\//\\\t|-:,"I?\///\//\\\///\\////tt//////\\\/\\/tt/\\/|I"i1t\\//\\\//\\///\\\//\//////\\\\//\\\\/////1+:";+)t/t\\\\\\//\t////\//\\\\//\//\\\_:$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$+:,!{\/////\\\\\//////\/\\\\\////\t\]I",!](/\//\\\/\\\//\\\\\///t/\\//\\//\\\\/\\\/|l^!1t\//\\\\//////\\\//\///////\\\\\/\\\\\\\\//1_;,:_(t//\\\\\\\\/\\/////\\\//\\/\/\};,$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$l,;_)/\//\\\/\\///\//\/\/\\\/////\[!,,l[\t\\\\\\///\\\//\\\\\\/t/\\/\\///\\\\\\\\/|l^!{/\//\\\\/////\\///\\/////\//\\\///\\\\\\\\//(_:^;_)/////\\\\\/\\\/t//\\//\\\\\\1i"$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$_:,I}\\/\\|\//\\/\\\\\\////\\\\//[l,,I[|/\\\\\/ttt//\//\\\\\\\\/\\//\\/t/\///\\\\/\l"!{/\////\\\///\\/t/\\\\\\//\/t////////\////\\//|i,":~\///t/\\/\\//\\/t/\|\\\\\|/(-:"$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$;^^+)t\\\\\/////\\//\\\///\/\//[;^"!}/////////ttt/\\//\\\\\/\\/\\///\\\/t/\\//\\//!"!1t|\\/t\\////\\\//\\\\\\|\\/t/\\\\///////t/\\\t(~:",~|/\\t/\||\\\\\/t/\\\///\//]I,$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$:,I-|t\\////////\//\\|\\\\\t|]I""i{\\/\\\\///\tt/\\\//\\\\/\\////\\\\\t/\\//\\\/\!"~(f\\//\\\///\/\|\\\\\|/\\\/\///\/////////\/\\/t/)+,^,~{////\////tt/////\\\/\\t1i,$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$~;,!}t/\/////\\\/////\\\|\t\[l""i}//\//\\\///\////////\\\\\\/////\//\\/t/\\\\\\\|l"~(t|\\\\t///\//\\\|\/////\\/\\//\/////////////////1~,":~}\/\/tt)[[1|t////|\//\/-;"$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$l,:+|/\\/t//\\\t|)11\/\|/\[!""l}\/\\////\////\\//t//\\\//\\/\///\//////\\\|/\\\(I^l]{[(//\|)1{{\\/////|((1|////\\\\////\\\\\//////\/\{!:,:![\//\1_lIi]tt///\\/t/{l,$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$];";-(\\\////\/t[iII]|///]I""I{|\\\/\\\/\\//\\\\///\\\\\//\\\\\\|\////){|t\/\//}:^",:l1t\1+!;;l1\///t|[+!!{\t\\\\\\////\\\//\/\\\//\\|}i;"";}//{l,,""l/f/\\\\/t\i:"$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$+:,:]\/|//////1l",^,-|\-:^"!}/\\/\////\\\//\\//\\\\/\\\\\\|||\/fj/)]+II]/tt|{-I^^^`"i1}!:"^^^"]\\{?~I,",:[\/|t/\\\/t//\\\///\////\\\//(i"^^;[]!^,"""I)//|\\|\|]:"$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$i""l{t/\////t[;":,";~_:^"i{///\\\\\\\\\////////\\\//\//\\\/t/|1[_l:,",_(1?i;,^^^^`^;l;"^^`^""l+i;:,"^^"I1////\\\///////\///\///\\/\\\/{i"^^;I:"""^,~//\\|\/|[l"$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$;",+)t\//\/t{l"",^^,;""!}\/\\\\\|\\\\///\//////\\\\\\\////([_!;,^`^^^I+!;"`$$`^^^""^^^``^^^^",^`"^^";i]|/\\/\\\//\\//////\\////\//\|\/}i,""",,"",!}t\\\|//{i"$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$_,";?|////\\|-;"^^^"^";[\/|\\\/\|\//\\/////\\//\\\\\\\\|1{_I"```^""^^^^`^^^",```^^^^",::"^``^^^";;Ii?1\\\\|\\\\\\\///////\\/\\/////\\//}I""",,""l?|t\|\\t(+,"$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$l",!]t\//\|/(?;`",,^^+(\|/|\//\\\//\\//////\/t/\\//\\1-I:"^"^"",::""^^^^";~_,^``^^:l+][;^^^:;I!-])\tft\//\\|\\\////tt/////\\\//////\/f|~`",",^,+)f\\\\/\_:"$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$:",l{\||\/\/(_^""""^;}\\\////\\\\//\\\\\//\\\\\\//\[!,^^,"",!+-~"^^^^^l]|t\I^^,I-1|/t\[~i_[1|/\/t/\|t///t\\//\/\\\/t//\///\\///\\\\t(_,^":;I^~1/\////\+;"$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$I",!1//\/\\/1I^^"^""+)t\\\\\\\\\\//\\\\//\\\\\//t|~,^"",;i?1(\)i":I!?1|\\1;^l[(|\\/ft/|(||\/\|\//\//\///\\\///\\\/////\//\\//\\\\/\?;""""":i1\//\\\)-:"$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$;",+{\/\\|//[l,^^,";?\\\\\\\\\\\/\\\///\\\\////t(+l!~_-]{|///|{-?[{|///\{,^i(f/t\|)}})\\\\\///\((|\\\///\\\///\\/////\//\\/\\\\\t{!"","^:+1\\//\/(-;"$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$_:^,i{/\\|\t/[l"^:""i(/\/\\\\\\\\\\\/t/\////////|{}1)\//|(){]])\\/tt/\\(],`i)/||1]+II+1\\\\\|)}??}|\\\//\\|\////////////\\//////f]I",,":~(t\|\/\/]I",$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$+^`,+)\\\||//]I^"",~)///////\\\\\\//t///////////tft//\1?iI:",_\///\\)}_:"^i)/1?l"^``;]t/\)}_l:",~(\\/\/\\\\///\\//////////////tr?;,;^,~1t\\\\\/}!""$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$~,";+\/\\/\/|?;`^:_(///\/t/\\\\\\\///\\\t//\\/ttt\}_l:,,^"^,-\({[il:,"^^`:il,""""^^;-)_i;,"""^;]/\\/\//\\\\\\\\\\\\\\\\\\\\\///?;^",]\t\\/\//[I",$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$!,";+1\//\\/(]!I_1/\\\\\///\\\\\\\///\\/\///\|1]~I:,"""`"^";il;:""^""`^^"""^``^^``^,I,,""","^I}/\\/\\\////\\/////\\\\\//\\\\\/1_!~]|tt\\//\[I,:$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$!,";+{\\\\//({{)\/\\\\\/\\/\\\\\\t//\\/\//|]_iI,"^^^^""^^^^"""``^^^^``^^````":,`^^`^^^""",:l-|/\///\\///\\\/////\\//////\\\\//){1|\\\\\/|}i",$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$l",:~}\t\////t/\\\/////\\\\\//\/t\//\/\\\{!"^^""^",;l!"^^$`,,":II:^^^^^^";!~_~^^""",,:Ili_[(t\\///t/\\\\\\//\//\\//////\\\\/tt/t/|||\/([i:"$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$I"",~1f/\\\\|\\//\\///\//\\\///\|\/\\\\\1i"^"",Ii-}({I^^^";;l_1(_,""``:~)\tt1:^^,Ii~-})\tt/\\/\\\t/\\\\\/tt///\\//\\///\\t\///\\|\/t/?l""$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$I^,;i{t\\//\\\\\///\\////\\\//\\///\\\//1ili_]|///\(~;l_[)|\\\t}I`"`:?//\\/\]-[1)t/\/tt/\\\\//t////\\/\///\\\/t/\\\//////\\\||/\\/|-;,,$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$l,,;I[(\\/\\//\\//\\////t//\\\\\/\\\\\//()(|\//\\\\)1)||\\//(/|];"`I}f\\\\\|||\\t\\///\\\\/\//t//\/////\\\\\///\\\//\\\\t\//\\\|{+;,"$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$:",l](//\\//\\/\\\///////\\/\\\\\\\\/\tt///\\\\|\///t\\\\/|\/(_"^!}t\\\/\/t/\\/\\/\\///\/\\//t////\/\\////\//////\\\\\t/////\{+:"$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$::,l]|/\\//\//\/\\////\\//////\\\///|//\\\\//\\|\\\\|\//\/\//},"!{t\\\/\\//\\////\/////\\//\////\\\\\/t/\\\\/////\\\\\/\//\{+;^$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$,;:I-|/\\\\/////\\\/\\\//\/t/\/\/ttt\\/\\t/\//\\||\|\//|\\\|};"!{t\\/\\///\\\\\\///////\//\\\///\/\\\/\\\\\\\\///\\/||\/\?!;,$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$;,I~+{/t\|\//\/\\\\\|\\\\\///\\\/t///\\//////\\\\\\\\\\\\/\1:"!}t\\\\\\//\///\\\///////////\/ttt\\\//\/\\/\\\//\//\\/t|-;::$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$Ii!~[(\\|\\\\\\\//////////\\\\\\\\/\\\\\\\/\\\\\\\\\\\\\\1,^!{/\\\///\\\\\\\//\\/////\///\\////\\\/\/t/\\\//\\\\//(]i:^$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$lI;!-1\\\\/\\\\\////\/\\\\\//\\\\\\\\\\\\\/\\\\|\\\\\\\\1,^i1///\\//\\\\\\\//\\/////\\/\\\\////\\t\/tt\////\/\\|{_l,^$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$l:";+{|\\/\\\\\//\\\\\\\\\///\\//\\\/\\\\/\\\\|\\\/\\\\1:"i1t\/\\//\\\\\\////\\///////\\\\\\////t////\///\\/\(}i:""$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$"^"l]|\\///////\\\////\|\\/////\\\/\///////\\\\/\|\\\1;"!{t\|\\\\//\\\/////\\\\/////\/////\/////\\\/\\\\\\(?I"^$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$:^,;~[|t//\|/////\///\\|\\////\/\/\\/\\\\\\\\\\\ttt/{,^l{fft\|\/\\\\\/\\\///\//////\/\\/\\\//\////|\\/t|?!;,"$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$",;l+1|/t\\///\\\\//\\\\\//\\/\/\\//\\\\\/\//\|)1}_"`:~]{(\///\\\\//\\\\//\\\\\\\\\\//\////\\\//\//)?i;"^$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$"":!_}(\////\\\\\\\\/\\\///\\/\\/\\/\\\\//\{_i!l;""":;l~[(//\\\\//\\\\\\\\\\\\\\\/t/\//\/\\\//\([+I,"$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$,,",l-{|\///\/\\\\\/\\\///\\\\\\\\/\\/\//1i:^^^""""^`^"I-(//\\\//\\\//\\\//////\/t/\//\\\\/\|{_I,^,$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$,",;!?)\/\\//\\\//\|\/t/\\\\\\\\////|\|[,"""",^^""^,"`,-//\\\\\\\///\\/\///t/\\//\\\\\\/\)?I,""$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$":;;!](tt\|\\\\/\||///\\\\\\\///\\\/\}:",,"""^"""":",+/\||\/\\\//\\\\\\\\tt\//||\//tt1_l,"^$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$,",Ii?)\/\\\\\\\t\\\///\\\\//\\/\\/(?;,"^^^^^^^^^:+)\\\\//\\//\\\//\\\\//\\\\\t/(}-l,""$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$:"";~]}1|t/\\\/||\/\\/\\\/\\\//\/\(?!:"""",:;,I-1\\/\\/////\\\\\/\\\\\\\///|)[+l;"^$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$,"";l+[((|\/\\\\\\\\\\\\\\\\//\\\\}-~i~i+??_}(/\\/\\////\\\\\|\|\//\\\\|)]~;"^,$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$"^^,l_}|ttt/\\\|||\/\\\\\\//\|\ttt\\\tjjff/\/\\\\\\\\\\\\\\\\\/t/\)}-!,^^$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$"`^"I~-]1(\tt//\|\\\\\\\||\\\\\tt//\|//\\\\||\\|||\\/////ttt|{-+I:"``$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$;"",:li~-}1|/t//////\|\\\\||\\\\\\\\\\\|||\\\///tt/\(1[_+i;,"""$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$"""":li_?[[{(\//////tt//////////tt/\/////\(){}]_+iI,"""$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$"""^",:;l_]}}1))))(||||\\\|||||(((()1{]-~!I:"^^^^$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$^````^"":;II;li+_-???-___+~+i!I,"^^```^$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$``$```^^^"^^"""^^^"^``^``````$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        </p>
    </div>
</div>

@code {
    private long maxFileSize = 1024L * 1024L * 10L; //10 Mb

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        MemoryStream imageStream = new MemoryStream();
        await e.File.OpenReadStream(maxAllowedSize: maxFileSize).CopyToAsync(imageStream);
        MemoryStream textFileStream = ConvertImageToAsciiArt.ConvertImageToAsciiArtStream(imageStream);
        // download the file
        byte[] data = textFileStream.ToArray();
        string fileName = e.File.Name + ".txt";
        await jsRuntime.InvokeAsync<object>("downloadFile", fileName, data);
    }

}
